<!DOCTYPE html>
<html lang="en">
<head>
	<title>Armor</title>
	<% include partials/head %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Armor</h1>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Registrate
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Crea una cuenta
				</a>
			</div>
		</div>
	</div>

</body>
</html>
